[submodule "externals/owl"]
	path = externals/owl
	url = https://github.com/owl-project/owl/
[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb
[submodule "externals/tinyobjloader"]
	path = externals/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
